form{
    background: lightblue;
    border-radius: 15px;
}
.VacationSearchLabel{
    margin-left:20px;
    margin-top: 10px
}
.submitBtn{
    margin-bottom: 10px;
    margin-left: 20px;
}
.form-control{
    margin-left: 20px;
    width: 95%
}