.jumbotron{
    background-image: url("./Banner.jpg");
    background-position: center;
    background-color: #7cc1de;
    height: 318px;
    text-align: center;

}
#title {
margin-top: 0px;
font-family: 'Times New Roman', Times, serif;
}

form{
    border-radius: 35px;

    margin-top: 195px;
    
}

.submitBtn{
    margin-top: 5px;
    color: blue;
}
.form-control{
    width: 250px;
    height: 20px;
}

