.jumbotron{
    background-image: url("./Banner.jpg");
    background-position: center;
    /* background-image: ; */
    background-color: #7cc1de;
    /* background-size: 100%; */
    height: 318px;
    text-align: center;

}
#title {
margin-top: 0px;
font-family: 'Times New Roman', Times, serif;
}

form{
    /* background: lightblue; */
    border-radius: 35px;
    /* background-color: aquamarine; */
    margin-top: 195px;
    
}

.submitBtn{
    margin-top: 5px;
    color: blue;
    /* margin-left: 20px; */
}
.form-control{
    /* margin-left: 20px; */
    width: 250px;
    height: 20px;
}