footer {
    width: 100%;
    height: 20px;
    background-color: lightskyblue;
    font-family: 'Baloo Thambi', cursive;
    text-align: center;
    color: black;
    border-radius: 2px;
    position: fixed;
    bottom: 0px;
    margin-top: 150px !important;
}
p{
margin-top: 0px;
    font-size: 15px
}
